.land_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 7rem;
}
.land_main>img{
    height: 520px;
    width: auto;
}
.land_p{
    font-size: 3.3rem;
    font-weight: 600;
    line-height: normal;
    width: 370px;
    
}

.land_button{
    padding: 0.8rem 4rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
}
