.land_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7rem;
}
.land_p{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: normal;
    
}

.land_button{
    padding: 0.8rem 4rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
}
