.land{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.text{
    padding-top: 60px;
}
.land >img{
    height: 150px;
    width: 150px;
}

.btn{
   background-color: #eb565c;
   color: #fff;
   padding: 10px 50px;
}