@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
.navHome{
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 6px, rgb(0 0 0 / 16%) 0px 3px 6px;
    padding: 10px 20px;
}
.navHome>.collapse{
    flex-grow: inherit;
}
.btns-container{
    position: fixed;
    bottom: 2rem;
    width: 100%;
    justify-content: space-around;
}
.btns-container>button{
    background: #5584AC;
    color: white;
    border: none;
    padding: 6px 18px;
    border-radius: 5px;
}
.navHome>a{
    color: #6c6b6b;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 6px;
}
.navHome>.collapse>ul>li>a{
    padding: 8px 30px !important;
    color: #0099c5;
    font-weight: 500;
    letter-spacing: 1px;
}

.nav_landbtn{
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.navland_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}
.navbar_land{
    margin: 1rem;
}
.navland_link >a{
    text-decoration: none;
    padding: 2rem;
    color: black;
    font-weight: 500;
}